.u-fixed-height {
  height: 400px;
}

.char-item {
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;

  &.primary {
    color: gold;
  }

  .char-avatar {
    height: 60px;
    width: 60px;
    overflow: hidden;
    img {
      padding-left: 5px;
    }
  }

  .char-name {
    font-weight: bold;
  }
}
