<div class="u-fixed-height" fxLayout="column" fxLayoutAlign="center center">
  <md-spinner *ngIf="isLoading"></md-spinner>
  <md-list *ngIf="!isLoading" fxLayout="row" fxLayoutWrap>
    <md-list-item class="char-item" [ngClass]="{primary: character.favorite}" *ngFor="let character of characters" fxLayout="row" fxLayoutAlign="start center" fxFlex="25%">
      <span mdListAvatar class="char-avatar">
        <img [src]="character.img.small" alt="character.name" />
      </span>
      <button md-button mdLine class="char-name" (click)="showDetail(character)">{{character.name}}</button>
      <pt-favorite-btn mdLine [character]="character"></pt-favorite-btn>
    </md-list-item>
  </md-list>
</div>
<div fxLayout="row" fxLayoutAlign="start center">
  <span fxFlex="50%">Favorites : {{favorites.length}} / 5</span>
  <md-paginator fxFlex="50%" [pageIndex]="pagination.index" [length]="pagination.total" [pageSize]="pagination.limit" (page)="loadCharacters($event.pageIndex, $event.pageSize)"></md-paginator>
</div>
<footer>
  <span>Data provided by Marvel. © 2014 Marvel</span>
</footer>
